/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.game-title {
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    margin-bottom: 20px;
}

.play-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.85s ease-in-out;
}

.play-button:hover {
    background-color: #ffffff;
    color: #000000
}

@media (max-width: 768px) {
    .game-title {
        font-size: 2em;
    }

    .play-button {
        font-size: 1.2em;
    }
}

@media (max-width: 480px) {
    .game-title {
        font-size: 1.5em;
    }

    .play-button {
        font-size: 1em;
    }
}
